*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}
.head-container{
    margin-bottom: 80px;
}
.head-box{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin: 7px auto;
    overflow: hidden;
    
}
.main-box {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; 
    position: relative;
}
.box{
    width: 30%;
    height: 30%;
    border: 1px solid black;
    margin: 4px;
    border-radius: 10px;
    overflow: hidden;
}
.result-box{
    width: 100px;
    height: 50px;
    /* background-color: blueviolet; */
    position: absolute;
    top: -17%;
    border: 1px solid #ddd;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    overflow: hidden;
    
}